*{
    padding:0;
     margin:0;
     box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

body{
    font-family: cursive;
    /* font-family: 'Roboto', sans-serif; */
} 

/**********************INDEX PAGE HEADER***********************************/
.header{
    height: 20vh;
    
}

.header__nav{
    height: 15vh;
    background-color: yellow;
    position: relative;
    clip-path: polygon(0 0, 100% 0, 100% 0, 0% 100%);
}

.header__logo{
    font-size: 2rem;
    position:absolute;
    top: 30%;
    left: 2%;
}

.header__contributor{
    position: absolute;
    top: 10%;
    left: 80%;
}

h1{
    margin: 1rem;
    font-size: 2.5rem;
}

p{
    font-size: 1.5rem;
    margin: 1rem;
    text-indent: 40px;
}

::selection{
    background-color:yellow;
}

/* .intro__last-paragraph{
    text-indent: 0;

} */

a{
 font-size: 1.5rem;
}


.list__items{
    list-style-type: disc;
    margin-left: 2rem;
}

.intro{
    padding: 4rem;
}

.lessons{
    padding: 2rem;
}


/**********************VARIABLE PAGE HEADER*************************/
.header__var{
    height: 20vh;
}
.heading{
    position:relative;
    left: 2%;
    font-size: 2rem;
}



/**********************VAR SECTION - DIV*************************/
.var{
    padding: 4rem;
    font-size: 2rem;
}
h2{
    margin-left: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: 2rem;
}
/* 
p{
    font-size:2.5rem;
    width: 50%;
} */

ul{
    list-style-type: disc;
}

ol li ul {
    list-style-type:none;
}

/*****************SOLUTION 1**********************/
.solution{
    height: 100vh;
    position: relative;
}
.button{
    position: absolute;
    
    left:50%;
    transform: translate(-50%, -50%);
    
}

#checkDiv{
    padding: 5rem;
    font-size: 3rem;
    text-align: center;

}

/****************************CONTRIBUTORS PAGE***************************/
.contributor__instructions{
    padding: 4rem;
}   

table, th, td {
    border: 1px solid black;
  }

  th, td{
      padding: 1%
  }

.table{
    padding: 1%;
}
table{
    width: 100%;
    font-size: 2rem;
    
}

td{
    font-size:1.5rem;
    padding: 1rem;
}