*{
    padding:0;
     margin:0;
     box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

body{
    font-family: cursive;
}

/**********************INDEX PAGE HEADER***********************************/
.header{
    height: 50vh;
}

.header__nav{
    height: 15vh;
    background-color: yellow;
    position: relative;
}

.header__logo{
    font-size: 2rem;
    position:absolute;
    top: 30%;
    left: 2%;
}

h1{
    margin: 1rem;
}

p{
    font-size: 1.5rem;
    margin: 1rem;
}

a{
 font-size: 1.5rem;
}

/**********************VARIABLE PAGE HEADER*************************/
.header{
    position:relative;
   
}

.heading{
    position:relative;
    left: 2%;
    font-size: 2rem;
}

.header__img   {
    position:relative;
    top: -20%;
    left: 90%;
    background-color: red;
    display: inline-block;
    height: 10%;
    width: 7%;
}

img{
    height: 8rem;
    width:8rem;
}

/**********************VAR SECTION - DIV*************************/
.var{
    padding: 4rem;
    font-size: 2rem;
}
h2{
    margin-left: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: 2rem;
}
/* 
p{
    font-size:2.5rem;
    width: 50%;
} */

ul{
    list-style-type: disc;
}

ol li ul {
    list-style-type:none;
}
